{% if title %}
    <h1 class="hdg hdg_1 vr">Currently viewing items tagged with "{{ title }}"</h1>
{% endif %}
{% if posts %}
    {% for post in posts %}
		<div class="vr">
			<h2 class="hdg hdg_2 vr_half">
				<a href="{{post.permalink}}">{{ post.title|raw }}</a>
			</h2>
            <div class="vr_half">
                <span class="date"><span class="fa fa-calendar"></span> [{{post.date}}]</span> {{ post.excerpt|raw }} <a href="{{post.permalink}}">More</a>
			</div>
			{% if post.tags %}
				<ul class="tags vr">
					{% for tag in post.tags %}
						<li><a href="{{ tag.url }}" class="tag">{{ tag.name }}</a></li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>
    {% endfor %}
{% endif %}
