<h1 class="hdg hdg_1 vr_half">{{ title|raw }}</h1>
<div class="date vr_half"><span class="fa fa-calendar"></span> [{{date}}]</div>
{% if tags %}
	<ul class="tags vr">
		{% for tag in tags %}
			<li><a href="{{ tag.url }}" class="tag">{{ tag.name }}</a></li>
		{% endfor %}
	</ul>
{% endif %}
<div class="userContent vr">
    {{ content|raw }}
</div>
