<div class="box">
    <h1 class="hdg hdg_1 vr">{{ title|raw }}</h1>
    <ul class="blocks blocks_3up">
        {% for recipe in recipes %}
            <li>
                <a class="recipeBlock" href="{{ recipe.permalink }}">
                    <img src="{{ recipe.featured_image_cta }}" />
                    <h3 class="recipeBlock-title vr_half">{{ recipe.title|raw }}</h3>
                    <div class="recipeBlock-meta">
                        <div class="grid grid_noPad">
                            <div class="grid-col grid-col_5of12 recipeBlock-meta_left">
                                {% if recipe.total_time %}
                                    <p><span class="fa fa-clock-o"></span> {{ recipe.total_time }}</p>
                                {% endif %}
                            </div>
                            <div class="grid-col grid-col_7of12 recipeBlock-meta_right">
                                {% if recipe.yield %}
                                    <p><span class="fa fa-shopping-basket"></span> {{ recipe.yield }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>